.ai-options-panel {
    background-color: #f7f8f9;
}

.cursor-pointer {
    cursor: pointer;
}

.icon-square {
    font-size: 1.2em;
    border-radius: 4px;
    padding: 5px 7px;
    margin-right: 3px;
}

.modal-options {
    font-size: .7em;
    cursor: pointer;
}

.optionContainer{
    width:100%;
}

.optionContainer i {
    color:#555;
}

.ai-options-panel .card{
    margin-bottom: 0;
}

.option-col {
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    width: 100%;
    white-space: nowrap;
}

.modal-full-screen .option-col {
    flex: 0 0 calc(3 / 12* 100%);
    max-width: calc(3 / 12* 100%);
}

.modal-lg .option-col {
    flex: 0 0 calc(4 / 12* 100%);
    max-width: calc(4 / 12* 100%);
}

.modal-footer .autofit-row{
    column-gap: 5px;
}
.modal-footer .btn-group-spaced .btn{
    margin-right: 3px;
}

.modal-footer .autofit-padded>.autofit-col{
    padding-left: 0;
    padding-right: 0;
}

#AIButton {
    display: block;
    margin: 10px 28px !important;
}

#AIButton .button-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer!important;
}
  
#AIButton .button-wrapper .button {
    display: block!important;
    font-size: 13px !important;
    line-height: 32px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    padding: 4px 24px !important;
    background-color: black!important;
    color: white!important;
    border-radius: 50px!important;
    border: 0px!important;
    cursor: pointer!important;
    z-index: 11!important;
    position: relative!important;
}
  
#AIButton .button-wrapper .button-bg {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    width: calc(100% + 4px)!important;
    height: calc(100% + 4px)!important;
    background-image: linear-gradient(90deg, #FF8038 0%, #FF0099 30.43%, #00EBEB 68.23%, #DB00FF 100%)!important;
    background-size: 600% 600%!important;
    border-radius: 50px!important;
    animation: AnimateBorder 4s ease infinite!important;
    -webkit-animation: AnimateBorder 4s ease infinite;
    -moz-animation: AnimateBorder 4s ease infinite!important;
    z-index: 10!important;
    transform: translate(-2px, -2px)!important;
    transition: filter 1s ease-in!important;
    cursor: pointer!important;
}
  
#AIButton .button-wrapper:hover .button-bg {
    filter: blur(10px)!important;
    transition: filter .4s ease-in!important;
    cursor: pointer!important;
}

@-webkit-keyframes AnimateBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimateBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimateBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.disabled {
    cursor: default;
    opacity: .5;
}

.disabled .cursor-pointer {
    cursor: wait;
}

.qa-table {
    border-collapse: separate;
    border-spacing: 0 1em;
    width: 100%;
}

.qa-table__header {
    color: gray;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    width: 150px;
}

.qa-table th {
    font-size: 14px;
}

.qa-table td {
    color: #54555f;
    font-size: 13px !important;
}